@import 'breakpoint';

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;
}

.czs-content-wrapper {
  margin: 0 auto;
  padding: 0 1.6rem;
  width: 100%;
  max-width: 144rem;

  @include sm {
    padding: 0 2.4rem;
  }
}

.page-footer {
  margin-top: auto;
}
