@import 'breakpoint';
@import 'color';

html {
  font-size: 56.25%;
}

@include sm {
  html {
    font-size: 62.5%;
  }
}

body {
  background-color: $background-color;
  color: $foreground-color;
  font-size: 1.5rem;
}
